<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Grid layout</title>
    <link rel="stylesheet" href="_css/estilo.css">
</head>
<body>
    <!--O site usara o grid layout, cada linha tem um preenchimento de 12 colunas-->
    <div class="linha">
        <div class="coluna col1">coluna 1</div>
        <div class="coluna col11">coluna 11</div>
    </div>

    <div class="linha">
        <div class="coluna col4">coluna 4</div>
        <div class="coluna col8"> coluna 8</div>
    </div>

    <div class="linha">
        <div class="coluna col4">coluna 4</div>
        <div class="coluna col4">coluna 4</div>
        <div class="coluna col4">coluna 4</div>
    </div>
</body>
</html>