@charset "UTF-8";

/*videos do index.html*/
video#gps{
    display: block;
    position: relative;
    width: 520px; 
    border-radius: 5px;
}

video#video-recente{
    display: block;
    position: relative;
    width: 330px;
    margin-top: -15px;
}