@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Titillium+web);
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

body{
    background-color: #808081;
    font-family: Arial, sans-serif;
    text-align: justify;
}

p{
    text-indent: 20px;
}

div#interface{
    background-color: #ffffff;
    width: 900px;
    margin: -20px auto 0 auto;
    border-radius: 2px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    padding: 10px;
    border-radius: 5px;
}

/*cabecalhos*/
header#cabecalho{   
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
    border-bottom: 1px #606060 solid;
}

header#cabecalho h1{
    font-family: "FonteLogo", sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2{
    font-family: "Corbel", sans-serif;
    font-size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: 0px;
}

header#cabecalho img#icon{
    position: absolute;
    top: 70px;
    left: 960px;
}

/*menu*/
nav#menu{
    display: block;
}

nav#menu ul{
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 430px;
}

nav#menu ul li{
    background-color: #dddddd;
    border-radius: 5px;
    display: inline-block;
    list-style: none;
    padding: 10px;
    margin: 2px;
    transition: 1s;
}

nav#menu ul li:hover{
    color: #ffffff;
    background-color: #606060;
}

nav#menu ul li a{
    color: #000000;
    text-decoration: none;
}

nav#menu ul li a:hover{
    color: #ffffff;  
    text-decoration: none;
}

/*corpo da pagina*/
section#corpo {
    display: block;
    width: 520px;
    border-right: 1px #606060 solid;
    float: left;
    padding: 15px;
}
 
section#corpo-full{
    display: block;
    padding: 15px;
}

/*formatacao da tabela*/
table#tabela-spec{
    background-color: #606060;
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabela-spec td{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
}

table#tabela-spec td.detalhe{
    font-weight: 700;
    text-align: right;
    background-color: #606060;
    color: #ffffff;
    border: 0px solid #606060;
}

table#tabela-spec td.detalhe-info{
    background-color: #cecece;
    color: #000000;
    border-left: 0px;
}

/*artigos*/
article#noticia-principal h2{
    font-size: 13pt;
    background-color: #dddddd;
    color: #606060;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h2{
    font-size: 12pt;
    color: #cecece;
    background-color: #ffffff;
    padding-left: 0px;
    margin: 0px;
}

/* cabecalho-artigos*/
header#cabecalho-artigo h3{
    margin-top: 0px;
    font-size: 12pt;
    color: #cecece;
}

header#cabecalho-artigo h3.titulo-direita{
    text-align: right;
    font-size: 10pt;
    padding: 10px;
}

header#cabecalho-artigo h1{
    font-family: "FonteLogo", sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}

/*imagens*/
figure.foto-legenda{
    border: 8px #ffffff solid;
    position: relative;
    box-shadow: 1px 1px 4px #000000;
}

figure.foto-legenda img{
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, .4);
    color: #ffffff;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda figcaption:hover{
    opacity: 1;
}

/*side bar(parte lateral)*/
aside#sidebar{
    display: block;
    width: 330px;
    float: right;
    background-color: #dddddd;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    padding: 8px;
    margin-top: 10px;
    border-radius: 2px;
}

aside#sidebar h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}

aside#sidebar h2{
    background-color: #606060;
    font-size: 13pt;
    color: #ffffff;
    padding: 10px;
}

/*rodape*/
footer#rodape{
    clear: both;
    border-top: 1px #606060 solid;
}

footer#rodape p{
    text-align: center;
}

footer#rodape p a{
    text-decoration: none;
    color: #606060;
}

footer#rodape p a:hover{
    text-decoration: underline;
}

/*======ESPECIFICACOES======*/

/*artigos*/
article#artigo-specs{
    text-indent: 20px;
    margin-right: 20px;
}

article#artigo-specs p{
    margin: 50px -5px 0px 20px;
}

article#artigo-specs h2{
    font-size: 13pt;
    background-color: #dddddd;
    color: #606060;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#cabecalho-specs h2{
    font-size: 12pt;
    color: #cecece;
    background-color: #ffffff;
    padding-left: 0px;
    margin: 0px;
}

/* cabecalho-artigos*/
header#cabecalho-specs h3{
    margin-top: 10px;
    font-size: 12pt;
    color: #cecece;
}

header#cabecalho-specs h3.titulo-direita{
    text-align: right;
    font-size: 10pt;
}

header#cabecalho-specs h1{
    font-family: "FonteLogo", sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}

img#oculos {
    position: relative;
    left: 50px;
    top: 0px;
}